@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mochiy Pop One", sans-serif;
  letter-spacing: 0.5px;
}
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
#light {
  background-color: #fff;
  color: #111;
}
#dark {
  background-color: #223;
  color: #fff;
}
.heading {
  padding-bottom: 15px;
}
.flex {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-box {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.content {
  padding-top: 40px;
  z-index: 2;
  position: relative;
}
.bulb-img {
  transform: rotate(180deg);
  position: absolute;
  top: -30px;
  left: 0;
}
.img-up {
  position: absolute;
  top: -180px;
  right: 0;
}
.img-down {
  position: absolute;
  bottom: 0;
  right: 0;
}
.transcript {
  height: 20px;
}
#light .transcript,
#light .mic-icon {
  color: #222;
}
#dark .transcript,
#dark .mic-icon {
  color: #fff;
}
.btn {
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
#dark .btn {
  background-color: orange;
}
.checkedIcon {
  position: absolute;
  top: 3px;
  left: 5px;
  color: #fff;
}
.commands {
  position: absolute;
  right: 15rem;
  top: 4rem;
}
